/.idea/
qapp/**/**
.vscode/settings.json
**/dist/**

frontend/node_modules/
gin.log
gosrc-journal
__debug_bin.exe
__debug_bin.exe
node_modules
**/.DS_Store/**
./**/.DS_Store
searchapp/unpackage
frontend/src-electron/icons/qapp/
.workbuddy/

